@import "tailwindcss";

@theme {
  --color-blue-bg: #235295;
  --color-arctic-blue-bg: #2bbef9;
  --color-navy-blue-bg: #233a95;
  --color-cloud-grey-bg: #f3f4f7;
  --color-pistachio-green-bg: #e5f8ed;
  --color-parakeet-green: #16b858;
  --color-mocha-mousse: #a47764;
  --color-cannoli-cream: #f0f0e5;
  --color-cream-tan: #e6c8bb;
  --color-safari: #bbaa92;
  --color-sirocco: #c3a089;
  --color-chanterelle: #a47764;
  --color-baltic-amber: #8b665c;
  --color-chocolate-martini: #56453d;
  --color-tortilla: #9a7b4f;
  --color-peanut: #795c34;
  --color-red: #ed174a;
}
